<div class="row">
  <div class="col s10">
    <h1> <%= params[:tag_name] %> </h1>
    <%= render 'words/words_list' %>
  </div>
  <div class="col s2">
    <div class="row">
      <div class="col s12">
        <%= link_to  new_word_path,  class: "btn-floating btn-large waves-effect waves-light red right" do %>
          <i class="material-icons">add</i>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">

        <%= render 'words/words_tags' %>
      </div>
    </div>
  </div>
</div>
